body{
   
background-color: #722f37;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #FFD700;
}
a {
    color: black;
    display: block;
    padding: 8px; 
    text-decoration: none;
    border: solid black;  
}
a:hover{
    box-shadow: inset 0px 0px 20px black;
}
ul{ 
    list-style-type: none;
    margin: 10px;
   
}

li{
    display: inline-block; 

    
}
.offers{   
    text-align: center;  
}

.offers > div{
   display: inline-block;
   position: relative;
   
}
img{
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius:5% ;
    box-shadow: 5px 5px 10px black;
    background-image: linear-gradient( black);
   
}
img:hover {
    box-shadow: inset 0px 0px 20px black;
   
}
h2{
    color: #FFD700;
    font-family:'Courier New', Courier, monospace;
    font: weight 20px;
    font-size: 35px;
    text-align: center;
}
#first{
  position: absolute;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, .9);
  color:#FFD700;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7%;
}
#second {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
    background-color: rgba(0, 0, 0, .9);
    color:#FFD700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
  }
  #third {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
    background-color: rgba(0, 0, 0, .9);
    color:#FFD700;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7%;
  }
  button{
      background-color:#722f37 ;
  }
  button:hover{
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  h3,h4{
    font-family:'Courier New', Courier, monospace;
    margin:8px;  
  }
 
   footer{
       text-align: center;
   }
div button a{
    border: none;
}